<!-- login.html -->
{% extends 'booking/base.html' %}
{% load static %}

{% block title %}Connexion - BookMe{% endblock %}

{% block content %}
    <div class="card mx-auto" style="max-width: 400px;">
        <div class="card-header">Connexion</div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary btn-block">Connexion</button>
            </form>
        </div>
    </div>
{% endblock %}
